.navbar {
    background: rgb(0, 0, 0);
    height: 5rem;
    width: 100vw;
    margin: 0 auto;
    max-width: 75rem;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
}

.logo {
    object-fit: cover;
    height: 3rem;
    width: 4rem;
}

.desktopMenuListItem {
    margin: 1rem;
    cursor: pointer;
    transition: transform 0.3s ease;
    &:hover {
        color: purple;
        padding-bottom: 0.5rem;
        border-bottom: 3px solid purple;
        transform: scale(1.1);
    }
}

.contactMe {
    background: black;
    color: white;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 2rem;
    transition: color 0.3s ease, border 0.3s ease, transform 0.3s ease; /* Corrected syntax for multiple transition properties */

    &:hover {
        color: purple;
        border: 1px solid purple;
        transform: scale(1.3); /* Adjust the scale factor as needed */
    }
}

.contactMeImg {
    object-fit: cover;
    height: 1.5rem;
    width: 1.5rem;
    margin-bottom: 5px;
    margin-top: 1px;
    transition: transform 0.3s ease; /* Corrected syntax for multiple transition properties */

    &:hover {
        transform: scale(1.3); /* Adjust the scale factor as needed */
    }
}

.active{
    color: purple;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid purple;
}

.mobMenu{
    display:none;
    object-fit: cover;
    height: 1.8rem;
}

.navMenu{
    position: absolute;
    top:4rem;
    right: 2rem;
    z-index: 2;
    display:flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background: rbg(21,21,21);
    border-radius: 1rem;
}

.listItem{
    color:white;
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    background: rgb(21, 21, 21);
}

@media screen and (max-width:720px) {
    .mobMenu{
        display: flex;
    }

    .desktopMenu{
        display:none;
    }

    .contactMe{
        display: none;
    }
}